@use '@angular/material' as mat;
@import "ngx-toastr/toastr";

@tailwind base;
@tailwind components;
@tailwind utilities;

$customTheme: mat.define-theme();

@include mat.core();

.custom-theme {
    @include mat.all-component-themes($customTheme);

    //override button styles
    .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button {
        @apply rounded-md
    }

    .go-to-top {
        position: fixed;
        bottom: 16px; /* Distance from the bottom of the screen */
        right: 16px; /* Distance from the right side of the screen */
        z-index: 1000; /* Ensure it's above other content */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
    }

    mat-form-field.small {
        --mat-form-field-container-height: 40px;
        --mat-form-field-container-vertical-padding: 8px;
    }

    .mdc-notched-outline__notch{
        border-right-style: none !important;
    }

    .custom-toast{
        width: 400px !important;
        font-size: 12px;
    }
}

.container {
    @apply mx-auto px-8;
}
.text-primary{
    color: #7d00fa;
}
